# Add model 3, which is keeping the number of producers and also the number of  movies|

In [1]:
import json
import os
import sys
import argparse
from collections import Counter, defaultdict
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
from scipy.special import factorial
from scipy import stats
from matplotlib import cm
from matplotlib.colors import LinearSegmentedColormap
from scipy.stats import ks_2samp
from operator import itemgetter
from copy import copy
from random import random
from math import exp


src_dir = os.path.abspath(os.path.join(os.pardir, os.pardir,'src'))
sys.path[0] = src_dir
from parser.support import ROLES, CREDITS
from parser.my_mongo_db_login import DB_LOGIN_INFO
import parser.support as support
import network.network_builder as build
import network.network_generator as generate
import network.shuffler as shuffle

In [2]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

## Reading data

In [3]:
movie_producer_df = generate.open_movie_data()

Loaded IMDb movies producing_gender_percentage
Got all_movies

# Building synthetic networks


* fixed values
    * number of movies per year
    * number of producers per year

* variables
    * number of people per team - producer_num_list *
    * number of movies per producer - occurence_list *
    * size of gaps - gap_list

In [4]:
unlistyfied_producer_df = generate.unlistify(movie_producer_df, 'producers')

In [5]:
#number of movies per producer of the 90s
unlistyfied_producer_df['producer_id'] = unlistyfied_producer_df.producers.apply(lambda x: x[0])

In [6]:
movies_per_producer = unlistyfied_producer_df.groupby('producer_id').count()['_id']

# Model 3

fixed number of movies, fixed number of producers
given number of movies per producer
given size of gaps per producer/movie

## Model 3- 0

fixed number of movies, fixed number of producers

team size round down/up of the mean

In [7]:
movie_list = generate.bootstrap(movies_per_producer, len(movies_per_producer))

In [8]:
total_num_producers = len(list(set([i[0] for i in unlistyfied_producer_df.producers.tolist()])))

## Assign genders

In [9]:
gender_df = support.get_staff_df('producers')[['_id', 'female_count', 'first_movie', 'last_movie', 'gender']]

In [10]:
females = build.generate_gender_seeds(gender_df)

In [11]:
original_producer_list = [i[0] for sublist in movie_producer_df.producers.tolist() for i in sublist]
seeds = [i for i in females if i in original_producer_list]
len(seeds)

1064

In [12]:
gender_df = support.get_staff_df('producers')[['_id', 'female_count', 'first_movie', 'last_movie', 'gender']]

In [13]:
unlistyfied_producer_df['gender'] = unlistyfied_producer_df.apply(generate.assign_gender, args=(gender_df,), axis=1)

In [14]:
movie_per_producer_gender = {}
for g, g_df in unlistyfied_producer_df.groupby('gender'):
    movies_per_producer = g_df.groupby('producer_id').count()['_id'].tolist()
    movie_per_producer_gender[g] = movies_per_producer

In [15]:
movies = []
for p, group in unlistyfied_producer_df.groupby('producer_id'):
    group_sorted = group.sort_values('year')
    diff = group_sorted.year.diff().values
    if len(group_sorted) > 40:
        print(len(group_sorted))
        print(p)
#         print(group_sorted.year.tolist())
        diff_ratio = Counter(diff[~np.isnan(diff)])
        diffs, occur = zip(*diff_ratio.items())
        diffs = np.array(diffs)
        occur = np.array(occur)
        print(diffs)
        print(occur/sum(occur))
        movies.append(group_sorted.producers.tolist())

43
nm0005544
[3. 0. 1.]
[0.02380952 0.83333333 0.14285714]
43
nm0918424
[3. 0. 1.]
[0.02380952 0.83333333 0.14285714]

In [16]:
gap_dict = generate.get_gaps_gender(unlistyfied_producer_df)

###  Generate movies

In [17]:
number_of_producers_per_year = {}
for year, df in unlistyfied_producer_df.groupby('year'):
    producers = list(set([i[0] for i in df.producers.tolist()]))
    number_of_producers_per_year[year] = len(producers)

In [19]:
#generate new producers every round
generated_producers = generate.generate_producers(total_num_producers)
generated_producers_dict = {}
generated_producers_dict['female'] = generated_producers[:len(seeds)]
generated_producers_dict['male'] = generated_producers[len(seeds):]
total_movie_frame = movie_producer_df[['_id', 'producers', 'year', 'producer_num']].copy(deep=True)

total_movie_frame = generate.assign_team_size(total_movie_frame, number_of_producers_per_year)
total_movie_frame['producers'] = [[]]*len(total_movie_frame)
print('generate movies')
total_num_teams = total_movie_frame.producer_num.sum()

/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))

generate movies

/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
/home/staff/junelee/Research-Project/movie_propagation/src/network/network_generator.py:172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))

In [21]:
# generate movies
movie_dict = generate.generate_movie_num(total_num_teams, generated_producers_dict, movie_per_producer_gender)

In [22]:
# assign gaps by gender
movie_dict_per_producer, gap_dict_per_producer = generate.assign_gaps(movie_dict, gap_dict)

In [32]:
final_movie_frame

,_id,producers,year,producer_num,availability
22884,tt0099622,"[CF287345, HO495462, VW979520, XL257020]",1990,4,4
22502,tt0100822,"[LG590818, ZE283951, PQ891079, LW192109]",1990,4,4
10973,tt0100935,"[DC285483, VJ042389, LX404401, IH163343]",1990,4,4
22559,tt0099819,"[BH390317, NK930531, UO985250, QQ477700, OS628...",1990,5,5
24509,tt0099796,"[VS997508, FL087853, HM327025, IG688917]",1990,4,4
2827,tt0099371,"[XD632177, ZC511593, MH800529, OV802293]",1990,4,4
10867,tt0099044,"[DA844086, IO876322, TE125242, RG261134, KB107...",1990,5,5
24478,tt0100606,"[FL076390, DX216032, IF033969, YU514664]",1990,4,4
2923,tt0098987,"[OX389072, CW123216, OC413377, ZM364994]",1990,4,4
24465,tt0100036,"[CF287345, QG323183, AA992995, SV916222, PJ597...",1990,5,5
2947,tt0099052,"[PI981271, FK982439, OJ208321, MX611963]",1990,4,4
2964,tt0100602,"[PI981271, ZR869948, JF275170, GQ643492, QA233...",1990,5,5
22466,tt0102703,"[OZ939252, AQ258775, UI268402, VJ191643]",1990,4,4
10660,tt0100212,"[ET636106, QJ462289, LG054638, EF309472, AE715...",1990,5,5
22675,tt0099316,"[ME095342, WN770810, ZW772580, AR888388]",1990,4,4
22699,tt0101812,"[MR851163, FB106263, CA612814, RF875725]",1990,4,4
22701,tt0100240,"[CJ213869, QV074137, ZR869948, WK286772]",1990,4,4
3101,tt0099739,"[YD048918, MT640365, OU560806, IG225708, GJ295...",1990,5,5
22735,tt0100230,"[EM149604, ES569063, UJ242385, FL253311, MR505...",1990,5,5
24408,tt0099740,"[XM476988, IM868256, GL512409, WB106523]",1990,4,4
22741,tt0100129,"[AP255745, GN692920, HG937079, EZ569091]",1990,4,4
22753,tt0099841,"[CF881820, VN401659, YW938508, GL806251]",1990,4,4
22770,tt0101328,"[ZP333541, GB562162, BP948567, FS327973]",1990,4,4
3312,tt0100814,"[WW364226, UX006772, HA479804, MK121511, IM445...",1990,5,5
9704,tt0099253,"[RC873358, JT895436, DC285483, SO255942]",1990,4,4
22668,tt0099969,"[VP697520, TZ963687, PP671034, FL792557]",1990,4,4
11065,tt0099817,"[ZD877739, KM570593, FM965377, DL828988]",1990,4,4
2644,tt0099348,"[JI930594, NL513780, YV880851, YV705148]",1990,4,4
24544,tt0097115,"[XP689574, VS997508, NA296900, SX134279]",1990,4,4
12665,tt0099108,"[SX856135, ZB344313, NT763546, WW095938]",1990,4,4
...,...,...,...,...,...
5760,tt0188694,"[BH390317, FO050712, UB779953, QY305683, FI936...",1999,6,6
5868,tt0166485,"[JJ692085, FM896853, RD640807, CV830710, JY878...",1999,7,7
23676,tt0188052,"[UX347801, AJ213962, TS820140, YX462150, UY757...",1999,6,6
5934,tt0132477,"[LG403324, AI373013, WO000134, GE192603, JU490...",1999,6,6
21754,tt0174268,"[MQ425657, LC894461, UH680166, PZ560232, YB227...",1999,6,6
13237,tt0143261,"[NK930531, PS402832, VF058809, OB209849, SO170...",1999,6,6
13095,tt0140397,"[BH390317, VS267512, BI011667, HK291222, CB484...",1999,7,7
23736,tt0174204,"[XR875113, LN695241, SW568505, MT146300, LR220...",1999,7,7
5179,tt0184510,"[GK768483, ZC510759, LM408406, EK626825, EF771...",1999,7,7
21628,tt0162830,"[BH390317, OA367677, PY177519, QG928069, AG127...",1999,6,6
21622,tt0120775,"[XP689574, GG188902, KJ343444, VO003978, OI525...",1999,6,6
14339,tt0128278,"[WO000134, HK196510, ZE775903, UQ184764, MC791...",1999,6,6
4519,tt0162236,"[EL775677, AO029029, XO764318, ZE770712, JB259...",1999,6,6
21515,tt0219142,"[MF801949, IG641966, WZ406856, LK060814, AJ048...",1999,7,7
14157,tt0151738,"[FS101554, RT744575, XD403275, VE298099, MU237...",1999,6,6
23965,tt0202614,"[TJ904531, FG396909, HX725057, KL990937, KC317...",1999,7,7
21548,tt0181835,"[XR875113, AN656203, XO764318, RP262583, XU261...",1999,7,7
21559,tt0120716,"[FK339547, NI157196, MF801949, FT911709, OZ022...",1999,6,6
4952,tt0179496,"[SS391828, MJ714722, XC293700, RG741591, AD280...",1999,6,6
14096,tt0123209,"[ZP496752, KG833962, PA427878, UM614838, AD808...",1999,7,7
21578,tt0162348,"[JK429452, UR991534, JN609922, TO824009, GD549...",1999,7,7
4975,tt0181288,"[TI551444, DT167663, RP214811, KH639268, EB208...",1999,6,6
14087,tt0146675,"[BH390317, LZ264319, PP470277, EK190754, QR777...",1999,7,7
23903,tt0125439,"[AP255745, WR872449, HY821973, TY323269, YR491...",1999,7,7
14055,tt0120829,"[PT719408, TO597618, HH086890, WA613937, TI383...",1999,7,7
21592,tt0126859,"[PE734955, JQ641081, LT361055, QM667223, CH228...",1999,7,7
21604,tt0193535,"[TG995334, NO788171, CP636100, VF118307, WY047...",1999,6,6
23876,tt0196596,"[EB391518, TK246174, WP689458, QJ955616, OB959...",1999,7,7
24053,tt0139809,"[FD773328, JU789038, ZJ478364, QF719749, GX332...",1999,6,6
17791,tt0142201,"[BW867227, QB322314, YL411187, JY544629, MI251...",1999,6,6

In [27]:
final_movie_frame = generate.distribute_movies(total_movie_frame, gap_dict_per_producer)

In [28]:
unlistyfied_result_df = generate.unlistify(final_movie_frame, 'producers')
unlistyfied_result_df.head()

             _id producers  year  producer_num  availability
22884  tt0099622  CF287345  1990             4             4
22884  tt0099622  HO495462  1990             4             4
22884  tt0099622  VW979520  1990             4             4
22884  tt0099622  XL257020  1990             4             4
22502  tt0100822  LG590818  1990             4             4

In [29]:
#check if distributions are correct
movies_data = list(unlistyfied_producer_df.groupby('producer_id').count()['_id'].values)
movies_result = list(unlistyfied_result_df.groupby('producers').count()['_id'].values)

In [30]:
from scipy.stats import ks_2samp
ks_2samp(movies_data, movies_result)

Ks_2sampResult(statistic=0.003820771101076814, pvalue=0.999999999997512)

In [34]:
gap_data = generate.get_gaps(unlistyfied_producer_df)
gap_result = generate.get_gaps(unlistyfied_result_df, 'producers')

In [ ]:
ks_2samp(gap_data, gap_result)

In [ ]:
df_distance = shuffle.find_distances(gap_data, gap_result)
max_p, max_d = shuffle.find_max_distance(df_distance)

In [ ]:
df_match = shuffle.find_max_distance_gaps(unlistyfied_result_df, max_p)

In [ ]:
shuffle.shuffle(unlistyfied_result_df, gap_data)

In [ ]:
fig, ax = plt.subplots(figsize=(5,3))
bins = np.arange(0, 10,1)
h1 = ax.hist(gap_data, bins=bins, color='red', alpha=0.3, normed=True)
h2 = ax.hist(gap_result, bins=bins, color='blue', alpha=0.3, normed=True)

In [ ]:
max_d, max_p

In [37]:
df_gen = unlistyfied_result_df.copy(deep=True)

In [46]:
df = pd.read_json('/home/projects/movie-network/data/synthetic_data/model_1_0/movies_1_0_004195.json', orient='split')
df

,_id,producers,year,producer_num
22884,tt0099622,"[FN729157, PW133515, SO061748, LP679122]",1990,4
22502,tt0100822,"[IE968706, KH097645, NO650813, LC449136, XK732...",1990,5
10973,tt0100935,"[MX973798, EW076199, RC688538, EB908473]",1990,4
22559,tt0099819,"[DC465076, UP456489, GH059232, KH017069, VS406...",1990,5
24509,tt0099796,"[TZ434900, PA771212, KX077410, SF431485]",1990,4
2827,tt0099371,"[GM594394, QY556662, WL490712, KC569651]",1990,4
10867,tt0099044,"[CW151304, TZ100116, UD968163, SP756510, DC174...",1990,5
24478,tt0100606,"[TF328013, EJ268580, FZ048392, SB469912]",1990,4
2923,tt0098987,"[LS640297, PS991420, XR931773, IV748544, GO336...",1990,5
24465,tt0100036,"[ZE330977, IN979135, DV699251, BR132369]",1990,4
2947,tt0099052,"[HT726964, QX938695, PJ840989, PT609099, MJ009...",1990,5
2964,tt0100602,"[EG195472, XT056871, AQ591568, UM118236]",1990,4
22466,tt0102703,"[YK595400, RQ557768, LI734690, GM594394]",1990,4
10660,tt0100212,"[ME887144, MA237371, JA270129, UQ478095, UZ038...",1990,5
22675,tt0099316,"[EU429038, LF970233, ZQ414593, UR300029, OS219...",1990,5
22699,tt0101812,"[VJ039205, IR440014, PC024140, SZ096353]",1990,4
22701,tt0100240,"[UV915693, MP454413, CD156540, RG314750, YB778...",1990,5
3101,tt0099739,"[KW990080, ZX181414, IF966497, XS559009, CB641...",1990,5
22735,tt0100230,"[YO453002, YR242420, SU870337, PF597350]",1990,4
24408,tt0099740,"[AY663521, NP583864, LR799320, LN241775, MQ697...",1990,5
22741,tt0100129,"[MX474960, ID039635, PC309477, UF991403, II548...",1990,5
22753,tt0099841,"[GK460232, BS627587, BV679899, NZ161472, ZQ414...",1990,5
22770,tt0101328,"[RT193916, KR873549, CE641750, LW225071]",1990,4
3312,tt0100814,"[KS494584, JF122678, PL038063, MM861732]",1990,4
9704,tt0099253,"[IA717305, NF791268, IF728643, NP382475]",1990,4
22668,tt0099969,"[IB184595, FC332258, CU243440, DM660497, VZ646...",1990,5
11065,tt0099817,"[LF111490, OS783471, DG741036, KH081130, AE283...",1990,5
2644,tt0099348,"[QS068690, HH974894, DE040055, AI946575]",1990,4
24544,tt0097115,"[FV893444, LV813078, YC605407, MK785310]",1990,4
12665,tt0099108,"[YG596526, JD469503, VW239329, AV881014]",1990,4
...,...,...,...,...
5760,tt0188694,"[LX866778, KA026926, YC456096, US943047, PV681...",1999,6
5868,tt0166485,"[NQ689268, YE569225, PX291590, AN501790, MA319...",1999,6
23676,tt0188052,"[PX291590, JO672581, AG705237, NE906944, LP387...",1999,6
5934,tt0132477,"[RE782722, PQ228664, BI723868, NX184437, PX019...",1999,7
21754,tt0174268,"[BJ717396, TH890949, HC572013, PY724509, BH462...",1999,7
13237,tt0143261,"[OB307322, VG918341, LJ318021, VY609775, PC335...",1999,6
13095,tt0140397,"[US943047, TE611216, ZG910421, VJ389422, FN192...",1999,6
23736,tt0174204,"[EO562744, PE798385, NV954595, BB234795, SH566...",1999,7
5179,tt0184510,"[UT430169, XQ792716, QU663726, ZJ674007, QH669...",1999,6
21628,tt0162830,"[UQ478095, XM870429, DO252404, LB911092, CE207...",1999,7
21622,tt0120775,"[QJ850178, KP267451, OI223038, VJ368234, QR545...",1999,6
14339,tt0128278,"[OO003198, FW107664, LT431380, AB810725, WU557...",1999,6
4519,tt0162236,"[DI160531, KO733407, AW345525, QP962305, UG948...",1999,7
21515,tt0219142,"[AX790112, EX168631, MU173024, IB779234, GJ809...",1999,6
14157,tt0151738,"[KG210653, NQ294964, XE230152, AN254161, UO009...",1999,6
23965,tt0202614,"[QC176020, NK211489, EH427838, KR522063, TW922...",1999,7
21548,tt0181835,"[YU506713, LD549014, KU962639, SN216591, MK643...",1999,7
21559,tt0120716,"[OK545195, YF364357, YJ707995, HE084105, IE132...",1999,6
4952,tt0179496,"[YB288545, FX814677, BZ776529, PY724509, WA539...",1999,7
14096,tt0123209,"[CQ790105, UX803921, ZV711356, CG034874, GB778...",1999,6
21578,tt0162348,"[DQ097149, UZ681320, LT542704, YP372436, MR815...",1999,7
4975,tt0181288,"[JP066011, EV030086, KK991541, CC740446, UT129...",1999,7
14087,tt0146675,"[EL543420, BL704391, TG321964, DR813959, TP556...",1999,6
23903,tt0125439,"[WV301136, HD399412, ZY790641, JN648938, UC277...",1999,6
14055,tt0120829,"[GI625249, YA346178, CV444695, QY931482, OK402...",1999,7
21592,tt0126859,"[NV208586, LH986113, HF597731, CC740446, UF691...",1999,6
21604,tt0193535,"[TN516606, VX065079, GY262727, JO672581, VK479...",1999,7
23876,tt0196596,"[QB678232, ZV419230, AP124473, TG798543, GA767...",1999,7
24053,tt0139809,"[IH344627, MR570236, AQ832186, KM374985, CZ951...",1999,6
17791,tt0142201,"[ZK061068, BL704391, GG097171, RE501649, JR823...",1999,7

In [48]:
unlistyfied_result_df[['_id', 'producers', 'year', 'producer_num']].groupby(['_id', 'year', 'producer_num'])['producers'].apply(list)

_id        year  producer_num
tt0081145  1993  4                        [JQ641081, BE679178, ES033591, MP917727]
tt0097115  1990  4                        [XP689574, VS997508, NA296900, SX134279]
tt0097863  1990  5               [UX347801, OH671020, YK668324, FL307371, AS042...
tt0097994  1990  5               [QR296257, KX941011, VE061365, YH085370, JR720...
tt0098966  1990  5               [BH390317, LX283235, SL261177, TV822224, DU114...
tt0098987  1990  4                        [OX389072, CW123216, OC413377, ZM364994]
tt0098994  1990  4                        [XD632177, RR842207, ZF804885, LB053597]
tt0099005  1990  4                        [AP255745, AV908709, IV031471, ZF130303]
tt0099012  1990  4                        [MM839774, BW781766, NQ224175, FQ279569]
tt0099017  1990  4                        [RK072517, YV898062, VZ702528, UV992528]
tt0099018  1990  5               [PR730038, DE809054, SN547602, GR167473, PY545...
tt0099039  1990  4                        [NE930850, LA081319, BJ002195, WE907368]
tt0099044  1990  5               [DA844086, IO876322, TE125242, RG261134, KB107...
tt0099052  1990  4                        [PI981271, FK982439, OJ208321, MX611963]
tt0099073  1990  5               [AP255745, CG692310, NK848627, FP788518, NO641...
tt0099077  1990  5               [HA328358, PX264177, NT763546, JF001136, JF173...
tt0099088  1990  4                        [TN414224, OQ756230, RN556056, BC265581]
tt0099091  1990  4                        [BH390317, PO273499, UR579013, GK934661]
tt0099095  1990  4                        [EA565855, NS489338, JA892286, QK723663]
tt0099108  1990  4                        [SX856135, ZB344313, NT763546, WW095938]
tt0099121  1990  5               [PD357535, PS808341, TU181340, RP784296, FT958...
tt0099128  1990  5               [CF287345, ZM121067, PQ646273, MP917727, NT763...
tt0099141  1990  5               [GJ227074, WX426448, FR931119, PS596546, ZU337...
tt0099153  1990  4                        [VQ371961, OS858023, ON785622, RE077152]
tt0099164  1990  4                        [TL475027, UQ326515, LP387877, KV385339]
tt0099165  1990  5               [GN692920, PC451181, EN075999, KM013919, LZ815...
tt0099166  1990  4                        [TG204648, JX277980, YQ314584, IW861221]
tt0099204  1990  4                        [OQ719951, GP326956, WY894274, JN315112]
tt0099253  1990  4                        [RC873358, JT895436, DC285483, SO255942]
tt0099271  1990  4                        [AP255745, GK793518, BO146272, MP422897]
                                                       ...
tt0219142  1999  7               [MF801949, IG641966, WZ406856, LK060814, AJ048...
tt0219403  1999  7               [JG024714, UQ058620, DK551117, ZQ820098, DA162...
tt0220678  1998  6               [GS476798, JX590421, DZ014924, VE070396, BH072...
tt0226877  1999  7               [MZ475388, PD628941, PS399681, DG628473, PX507...
tt0230796  1999  7               [AG353260, KJ343444, YW826723, RE802733, OL668...
tt0235872  1999  6               [NI157196, FR399984, HM717801, YX346515, KG367...
tt0240867  1999  6               [SO410050, CH979155, SW276040, VE663850, BC618...
tt0241822  1999  7               [YF557299, VX319149, FK072345, BU477685, TR325...
tt0246880  1999  7               [IE346167, WU971825, BH072784, UQ240059, SS051...
tt0275536  1994  6               [RR061142, XH187005, KR467851, BQ545626, JY954...
tt0278972  1999  6               [TD511579, GC188025, PJ688290, QU201390, UZ483...
tt0280745  1990  4                        [AO484925, XC697063, BM578758, SP619555]
tt0289109  1997  6               [WU249795, ZK295715, FQ215513, ND634364, QX546...
tt0293856  1998  7               [NN811873, QV945182, RL061667, RQ930598, VK412...
tt0318561  1995  5               [OC146288, DN798306, WP970692, PY679573, YC126...
tt0321943  1992  4                        [WT697270, HD511307, UW004027, KO660199]
tt0331423  1990  4                        [QA192345, SX111029, VJ042389, LP387877]
tt0331476  1991  4                        [QG814779, PA138791, AE385616, KU217036]
tt0331576  1992  4                        [SG077494, UH348656, QW194359, NP093542]
tt0331622  1992  5               [DG301652, CS190312, CC251691, ZJ203222, KL853...
tt0382575  1993  5               [GX734541, NI948209, JJ708601, UU533445, LM478...
tt0384974  1994  5               [EL775677, QG014945, RU755660, WB255529, BY007...
tt0422361  1994  5               [ET161013, YO871175, UW303171, FO723615, JB842...
tt0480557  1999  7               [OZ939252, UV438058, UN628165, RD858878, OB092...
tt0497657  1997  6               [GK934661, DD747016, KM944766, RP042597, PJ140...
tt1376226  1996  5               [YF041606, SJ573063, FZ166543, LC460247, RB127...
tt1475147  1999  6               [AE795138, ER798381, OC188834, SQ243420, VK293...
tt2318409  1999  6               [NZ385517, IL072022, LR816572, CH527235, PZ049...
tt4572312  1997  6               [RB193187, DZ403278, PV417786, ZS575229, RJ783...
tt6443944  1996  5               [NK930531, EW906045, BM391969, HA353553, XD840...
Name: producers, Length: 2009, dtype: object

In [45]:
unlistyfied_result_df.columns

Index(['_id', 'producers', 'year', 'producer_num', 'availability'], dtype='object')

In [75]:
def aggregate(df, key_col='_id', val_col='producers'):
    keys, values = df[[key_col, val_col]].sort_values(key_col).values.T
    ukeys, index = np.unique(keys,True)
    arrays = np.split(values,index[1:])
    df2 = pd.DataFrame({key_col:ukeys,val_col:[list(a) for a in arrays]})
    return df2

In [80]:
def organize_dataframe(df_input, key_col='_id', val_col='producers'):
    """
    when the movie-producer unlistyfied result is finalized, put it together into format that is read by the model
    Input:
        df_input - unorgazined dataframe
        key_col - 
        val_col - 
    Output:
        df_output - aggregated dataframe
    """
    df1 = aggregate(df_input, key_col, val_col)
    df2 = df_input[['_id', 'year', 'producer_num']].drop_duplicates()
    
    df_output = pd.merge(df1, df2, on=key_col).sort_values('year').dropna()
    return df_output

In [84]:
df_output = organize_dataframe(unlistyfied_result_df)

In [100]:
df_output

,_id,producers,year,producer_num
134,tt0100486,"[HM456516, SO410050, YY655302, MP917727, WR288...",1990,5
119,tt0100260,"[OW377752, TB132641, CJ213560, QV911417, KS823...",1990,5
120,tt0100287,"[PE734955, XP689574, GY979276, SG077494]",1990,4
121,tt0100318,"[AZ887741, PE734955, AE564250, WW364226]",1990,4
122,tt0100332,"[VH399687, JP086793, QV162017, UF609693]",1990,4
124,tt0100395,"[UR579013, QU070578, YV898062, FK339547, LQ208...",1990,5
125,tt0100403,"[XO736339, BJ387163, JI930594, GL211072, SG674...",1990,5
126,tt0100404,"[WY327610, SL261177, YL761770, ZZ657743]",1990,4
127,tt0100418,"[WN254312, ZC153507, UR579013, UL355351]",1990,4
128,tt0100419,"[WT735340, VF262085, GN140821, AK721588]",1990,4
129,tt0100436,"[JS796929, SL261177, ZG991568, KK111615]",1990,4
130,tt0100449,"[LR770871, LW145492, HU451511, GG188902]",1990,4
131,tt0100475,"[EZ210287, SY921741, ZR763045, ES126876, MZ475...",1990,5
132,tt0100480,"[WY327610, WR288002, PX109993, NZ385517]",1990,4
133,tt0100485,"[EH286856, EX861893, BR285367, ZC535068]",1990,4
136,tt0100502,"[JJ020722, YM716192, EM149604, OZ796169]",1990,4
137,tt0100514,"[SG045856, QG014945, NS489338, MI854206, BR245...",1990,5
139,tt0100530,"[QK643718, VI959252, OL878189, ZN782447, CA544...",1990,5
140,tt0100602,"[ZR869948, QA233626, GQ643492, JF275170, PI981...",1990,5
141,tt0100606,"[DX216032, FL076390, YU514664, IF033969]",1990,4
118,tt0100258,"[ZP934920, IG225708, JM530088, WJ989218, PA464...",1990,5
117,tt0100240,"[ZR869948, WK286772, CJ213869, QV074137]",1990,4
116,tt0100232,"[GL211072, UP488534, MU471256, MM015911]",1990,4
115,tt0100230,"[FL253311, UJ242385, ES569063, MR505967, EM149...",1990,5
95,tt0100046,"[CD153643, NN811873, QV074137, VK350278, JB151...",1990,5
96,tt0100050,"[GR167473, SH731662, SG674756, BF103498]",1990,4
97,tt0100054,"[HR668705, NT763546, XZ403180, JR121517]",1990,4
98,tt0100065,"[PO764998, KF981086, DI120242, GK860993, TF895...",1990,5
99,tt0100087,"[LS177559, SB572871, YR295815, MO739633, QV074...",1990,5
100,tt0100114,"[QP453940, GN409290, BH390317, LR770871]",1990,4
...,...,...,...,...
1817,tt0151568,"[NC167254, TD348317, MU704335, MD567655, UZ289...",1999,6
1818,tt0151582,"[KE170139, CL979581, HA389291, CR344006, TY323...",1999,6
1819,tt0151738,"[XD403275, TG587687, MU237848, VE298099, RT744...",1999,6
1820,tt0151804,"[WJ129981, FD662903, CK088579, PO273499, AP255...",1999,6
1581,tt0120601,"[LA545561, KP356892, DM373016, AF396282, XR774...",1999,6
1822,tt0153866,"[GV725829, IQ740932, IU547955, WQ703406, YN362...",1999,7
1580,tt0120596,"[IF966817, ZX084021, HE628615, XQ035584, JI930...",1999,6
1825,tt0155711,"[PB990952, TJ575332, GO706807, XG728607, KC559...",1999,7
1715,tt0131369,"[GZ885734, TK779376, CU243081, WQ481779, VY882...",1999,6
1827,tt0155776,"[UF288173, LO320911, QR931615, VE667967, RB677...",1999,7
1714,tt0130121,"[RB645838, UG953316, JO410940, ZY723811, XI688...",1999,7
1829,tt0156096,"[GH755793, SY975750, MZ475388, VG814776, NP646...",1999,7
1830,tt0156639,"[HY583604, HA487043, EF808652, OY913398, TT397...",1999,6
1584,tt0120613,"[BH390317, GO602348, GQ236839, JG338186, KX798...",1999,6
1832,tt0156934,"[UC687937, HJ468181, IO347859, QP493114, GJ772...",1999,6
1834,tt0157503,"[TL625875, OE336130, LI200540, YK636086, MY746...",1999,7
1636,tt0120797,"[WH015547, XA254054, FZ166543, XK883944, RZ998...",1999,6
1838,tt0158371,"[PZ417781, YG406428, NY446623, TI551444, LX144...",1999,7
1669,tt0123221,"[HJ823921, SE576881, JA192612, TT097259, CZ976...",1999,7
1840,tt0158811,"[YM716192, XR875113, CF287345, UZ723944, VU178...",1999,7
1841,tt0159373,"[RB497208, TM634437, UC629292, YE253342, PI981...",1999,7
1842,tt0159421,"[IP233120, UQ514332, FD413522, UO240843, BH390...",1999,7
1845,tt0160216,"[PB538506, DE702755, FI773504, DP704815, WP255...",1999,7
1846,tt0160229,"[LS130424, OU696376, BP280622, CD099064, PS402...",1999,6
1847,tt0160236,"[BW867227, KY175263, LL526355, OP629124, DW836...",1999,7
1848,tt0160298,"[QU072366, PO666981, WO000134, RJ530699, OL083...",1999,6
1849,tt0160338,"[RB677128, IP446635, ZH327362, WA788216, RI937...",1999,7
1850,tt0160376,"[RS677401, GR425899, KE878835, JO117485, WE533...",1999,7
1833,tt0157075,"[CQ178281, VL770225, LC952620, QK876855, AC410...",1999,6
1668,tt0123209,"[KG833962, PA427878, UM614838, AD808046, GY674...",1999,7

In [92]:
num_schedules = 10
v = 0
# data_dir = '/home/projects/movie-network/data/synthetic_data/model_3_0/'
data_dir = './'
# gender_dir = '/home/projects/movie-network/data/synthetic_data/genders/'
gender_dir = './'
version_list = generate.make_version(num_schedules)

df_output.to_json(os.path.join(data_dir, 'movies_3_0_{}.json'.format(version_list[v])), orient='split')
#save gender
generated_gender_df = pd.DataFrame(columns=['producer_id', 'gender'])
for g, producers in generated_producers_dict.items():
    genders = [g for ii in producers]
    appending_df = pd.DataFrame({'producer_id': producers, 'gender': genders})
    generated_gender_df = generated_gender_df.append(appending_df)
generated_gender_df.to_json(os.path.join(gender_dir, 'movies_3_0', 'version_{}.json'.format(version_list[v])), orient='split')

In [101]:
hela = pd.read_json('/home/projects/movie-network/data/synthetic_data/model_3_0/movies_3_0_790295.json', orient='split')
hela

,_id,producers,year,producer_num
134,tt0100486,"[NO990264, YX045212, LV212426, TW476447]",1990,4
119,tt0100260,"[UQ418980, KS657678, II533191, DI603597, TZ705...",1990,5
120,tt0100287,"[AH318779, KB845996, SS538288, NO037895, XL066...",1990,5
121,tt0100318,"[TN173391, OX859888, XO039095, KM962422]",1990,4
122,tt0100332,"[RX265529, CG280037, GE623510, JH799916]",1990,4
124,tt0100395,"[NC684567, JR127767, VS826081, XC324243, SM991...",1990,5
125,tt0100403,"[SI261431, BB222094, EQ019501, AI836401]",1990,4
126,tt0100404,"[SU523940, XZ078582, WX191453, PE169645]",1990,4
127,tt0100418,"[CL594236, AZ424087, UD155921, TW998738, VT718...",1990,5
128,tt0100419,"[VA306039, XG140450, AB255264, VA828507, JD766...",1990,5
129,tt0100436,"[SY898029, FK987192, PZ855499, HH846652]",1990,4
130,tt0100449,"[LY757217, HE100202, UV507460, GD179415, OC286...",1990,5
131,tt0100475,"[YD571382, WO692101, WO342850, YE765355]",1990,4
132,tt0100480,"[RH844495, CH584149, AU890947, SS538288]",1990,4
133,tt0100485,"[MS965094, SV177383, PZ753198, YE828468]",1990,4
136,tt0100502,"[DT202114, HF018001, OZ944925, JR522586, OZ750...",1990,5
137,tt0100514,"[GL890237, KJ479017, OI641379, HS910221, XQ175...",1990,5
139,tt0100530,"[DE607953, GR676061, NB438868, NO802931]",1990,4
140,tt0100602,"[XI220386, AS103103, NG115471, SJ784353]",1990,4
141,tt0100606,"[NO037895, NZ115353, YA450757, MK432963, LM767...",1990,5
118,tt0100258,"[NO037895, VA422839, VD048206, DD629442, KG841...",1990,5
117,tt0100240,"[VH319699, NX075007, RK994246, FH048217]",1990,4
116,tt0100232,"[CI929670, SR582108, DB837773, YO087916]",1990,4
115,tt0100230,"[YP628074, QX749902, QV659626, BA669858]",1990,4
95,tt0100046,"[GA255684, FE950096, KG563608, YZ638301, ON275...",1990,5
96,tt0100050,"[BT458756, PN002648, RN331339, GM899805, OU924...",1990,5
97,tt0100054,"[ZK355851, AF925333, IO818105, QN085218, YQ896...",1990,5
98,tt0100065,"[FO171925, DQ135614, BX524539, RD005701]",1990,4
99,tt0100087,"[GT421970, SL254203, EK484765, NA825588]",1990,4
100,tt0100114,"[ZB692826, LK600580, FM611063, YJ367879]",1990,4
...,...,...,...,...
1817,tt0151568,"[GX230521, RD823254, ZL844555, DJ934278, OU532...",1999,6
1818,tt0151582,"[XA827804, KA497188, LY863324, DM084287, NA357...",1999,6
1819,tt0151738,"[LH181694, HM987131, UI124020, BM113981, LL060...",1999,7
1820,tt0151804,"[OR164819, XK416796, AY125810, ET893452, NV422...",1999,7
1581,tt0120601,"[FC563501, ZN735801, JB217629, WJ767098, KV831...",1999,6
1822,tt0153866,"[JW357716, PF506701, UA167000, SB028523, XZ295...",1999,7
1580,tt0120596,"[BA482760, VL519044, DT636196, GP553056, GA431...",1999,7
1825,tt0155711,"[LQ630445, LI503785, QH482515, VP600516, IR664...",1999,7
1715,tt0131369,"[SR183988, JY394319, OU204452, XM635776, NV319...",1999,6
1827,tt0155776,"[BL092346, NL331716, MV434659, SA980427, CL304...",1999,6
1714,tt0130121,"[VN077004, JH828494, UL705954, JG513230, NK380...",1999,7
1829,tt0156096,"[FO144593, HZ774189, BR228833, ZC922999, IE001...",1999,7
1830,tt0156639,"[VF871482, OB055055, FG433121, IV367236, GE274...",1999,7
1584,tt0120613,"[AB601186, PD021278, QS280584, YA609950, KV359...",1999,7
1832,tt0156934,"[EH861484, OI697408, NC772487, UA167000, NP829...",1999,6
1834,tt0157503,"[HW354854, AY835594, QU176473, ZY836439, WF925...",1999,7
1636,tt0120797,"[CI972934, UM034235, TN497736, YY533592, TC126...",1999,6
1838,tt0158371,"[YO697091, GH640933, JH828494, NZ115353, EW415...",1999,6
1669,tt0123221,"[DG037159, JY917439, TG391172, FO315688, YY805...",1999,7
1840,tt0158811,"[MD387481, OQ044461, KA049652, PR159147, AD943...",1999,6
1841,tt0159373,"[EV857508, JD538917, NS384716, QA719682, BO172...",1999,7
1842,tt0159421,"[SV513909, MU313407, ZT549204, GT421970, AI868...",1999,7
1845,tt0160216,"[XS288598, NZ028223, NH905489, NO082387, AN146...",1999,7
1846,tt0160229,"[IF149717, XR947040, HQ679763, QH971282, HT748...",1999,6
1847,tt0160236,"[OF631429, JD478859, ER087554, QN848877, AI868...",1999,7
1848,tt0160298,"[JH828494, XD814390, UE242516, JE500649, RR296...",1999,7
1849,tt0160338,"[YM289208, ZX152943, JU541741, EL228361, TS540...",1999,7
1850,tt0160376,"[WW178327, GG273174, RF137841, LA479446, JM671...",1999,7
1833,tt0157075,"[MX148444, YP508011, RS621417, JF809671, BM973...",1999,6
1668,tt0123209,"[LN335167, DX441935, LI918207, HJ486634, TY395...",1999,6

In [102]:
pd.read_json('/home/projects/movie-network/data/synthetic_data/genders/model_3_0/version_790295.json', orient='split')

     producer_id  gender
0       EM004008  female
1       LX274093  female
2       BB797997  female
3       ZN735801  female
4       FE967799  female
5       OA981971  female
6       IY017688  female
7       MZ250688  female
8       WX858758  female
9       TG699027  female
10      HL399365  female
11      GW153210  female
12      QH578143  female
13      VS800508  female
14      WZ751493  female
15      SD392520  female
16      LJ394412  female
17      AQ222746  female
18      CL156430  female
19      WR733578  female
20      HT508097  female
21      AO159353  female
22      GN233031  female
23      KA669863  female
24      KX827912  female
25      IX367924  female
26      JE485244  female
27      RC367370  female
28      TN497736  female
29      NM838793  female
...          ...     ...
4664    ES967781    male
4665    QH762490    male
4666    JK061105    male
4667    RY450247    male
4668    NP361060    male
4669    PF506701    male
4670    DA476095    male
4671    NJ952911    male
4672    BB255936    male
4673    QC586782    male
4674    NY254197    male
4675    DP389046    male
4676    SW842832    male
4677    QO198026    male
4678    GE645840    male
4679    CI721827    male
4680    IZ503996    male
4681    CJ996084    male
4682    RS621417    male
4683    DG673005    male
4684    HK196988    male
4685    AW586515    male
4686    FW430729    male
4687    SK080863    male
4688    PJ750262    male
4689    GY483623    male
4690    QX175109    male
4691    BL256501    male
4692    CG673852    male
4693    QH804891    male

[5758 rows x 2 columns]

### Make dataframe with the exact team sizes

In [ ]:
data_dir = '/home/projects/movie-network/data/synthetic_data/model_3_0/'
gender_dir = '/home/projects/movie-network/data/synthetic_data/genders/'

In [ ]:
num_schedules = 1
version_list = net_gen.make_version(num_schedules)

In [ ]:
for key,value in sorted(gap_dict_per_producer.items(),key=lambda i:(sum(i[1]), len(i[1])),reverse=True):
    print(key, value, sum(value))

In [ ]:
total_movie_frame.head()

In [ ]:
shift_dist = []
# for v in range(num_schedules):


#generate new producers every round
generated_producers = net_gen.generate_producers(total_num_producers)
generated_producers_dict = {}
generated_producers_dict['female'] = generated_producers[:len(seeds)]
generated_producers_dict['male'] = generated_producers[len(seeds):]
total_movie_frame = movie_producer_df[['_id', 'producers', 'year', 'producer_num']].copy(deep=True)
print('iterate years')
for year, df in total_movie_frame.groupby('year'):
    num_producers = number_of_producers_per_year[year] #duplicate producers are already dropped
    mean_size = np.mean(df.producer_num.tolist())
    mean_ceil = np.ceil(mean_size)
    mean_floor = np.floor(mean_size)
    #fix the team size to its mean
    df['producer_num'] = df.producer_num.apply(team_size, args=(mean_ceil, mean_floor))
    total_movie_frame['producer_num'].update(df.producer_num)
total_movie_frame['producers'] = np.nan
print('generate movies')
total_num_teams = total_movie_frame.producer_num.sum()
dict_movies = generate_movie_num(total_num_teams, generated_producers_dict, movie_per_producer_gender)
shift_dist.append(list(dict_movies.values()))
print('distribute movies')


    
for i, row in total_movie_frame.iterrows():
    producers, occurence = zip(*dict_movies.items())
    producers = np.array(producers)
    occurence = np.array(occurence)
    size = row.producer_num
    team = np.random.choice(producers, size, replace=False, p=occurence/sum(occurence))
    #assign list to cell
    total_movie_frame['producers'] = total_movie_frame['producers'].astype(object)
    total_movie_frame.at[i, 'producers'] = team
    for p in team:
        dict_movies[p] -= 1
        if dict_movies[p] == 0:
            del dict_movies[p]
            
            
            
#     total_movie_frame.to_json(os.path.join(data_dir, 'movies_3_0_{}.json'.format(version_list[v])), orient='split')
#     #save gender
#     generated_gender_df = pd.DataFrame(columns=['producer_id', 'gender'])
#     for g, producers in generated_producers_dict.items():
#         genders = [g for ii in producers]
#         appending_df = pd.DataFrame({'producer_id': producers, 'gender': genders})
#         generated_gender_df = generated_gender_df.append(appending_df)
#     generated_gender_df.to_json(os.path.join(gender_dir, 'movies_3_0', 'version_{}.json'.format(version_list[v])), orient='split')

In [ ]:
p_list = list(set([i for sublist in total_movie_frame.producers.tolist() for i in sublist]))

In [ ]:
for l in shift_dist:
    print(ks_2samp(l, movie_per_producer_gender['male']+movie_per_producer_gender['female']))

# Model 2-1

fixed number of movies, fixed number of producers

team size sampled from the real schedule

## Fill in producers

In [ ]:
num_schedules = 10

version_list = []
while len(version_list) < num_schedules:
    ver = make_version()
    if ver not in version_list:
        version_list.append(ver)

In [ ]:
from os import listdir
from os.path import isfile, join

original_file_list = [join(original_dir, f) for f in listdir(original_dir) 
                       if isfile(join(original_dir, f))]

## Concat over multiple years

In [ ]:
movie_producer_df[['_id', 'producers', 'year', 'producer_num']].copy(deep=True).head()

In [ ]:
data_dir = '/home/projects/movie-network/data/synthetic_data/model_2_1/'

shift_dist = []
for v in range(num_schedules):
    #generate new producers every round
    generated_producers = net_gen.generate_producers(total_num_producers)
    generated_producers_dict = {}
    generated_producers_dict['female'] = generated_producers[:len(seeds)]
    generated_producers_dict['male'] = generated_producers[len(seeds):]
    total_movie_frame = movie_producer_df[['_id', 'producers', 'year', 'producer_num']].copy(deep=True)
    total_movie_frame['producers'] = np.nan
    print('generate movies')
    total_num_teams = total_movie_frame.producer_num.sum()
    dict_movies = generate_movie_num(total_num_teams, generated_producers_dict, movie_per_producer_gender)
    shift_dist.append(list(dict_movies.values()))
    print('distribute movies')
    for i, row in total_movie_frame.iterrows():
        producers, occurence = zip(*dict_movies.items())
        producers = np.array(producers)
        occurence = np.array(occurence)
        size = row.producer_num
        team = np.random.choice(producers, size, replace=False, p=occurence/sum(occurence))
        total_movie_frame['producers'] = total_movie_frame['producers'].astype(object)
        total_movie_frame.at[i, 'producers'] = team
        for p in team:
            dict_movies[p] -= 1
            if dict_movies[p] == 0:
                del dict_movies[p]
    total_movie_frame.to_json(os.path.join(data_dir, 'movies_2_1_{}.json'.format(version_list[v])), orient='split')
    #save gender
    generated_gender_df = pd.DataFrame(columns=['producer_id', 'gender'])
    for g, producers in generated_producers_dict.items():
        genders = [g for ii in producers]
        appending_df = pd.DataFrame({'producer_id': producers, 'gender': genders})
        generated_gender_df = generated_gender_df.append(appending_df)
    generated_gender_df.to_json(os.path.join(gender_dir, 'movies_2_1', 'version_{}.json'.format(version_list[v])), orient='split')

In [ ]:
for l in shift_dist:
    print(ks_2samp(l, movie_per_producer_gender['male']+movie_per_producer_gender['female']))

# Problem

Random sampling does not account for all of the producers

In [ ]:
ver

In [ ]:
from os.path import normpath, basename, join, isfile
from os import listdir

In [ ]:
network_model =  basename(normpath(data_dir))
gender_folder = os.path.join('/home/projects/movie-network/data/synthetic_data/genders/', network_model)

In [ ]:
gender_file = [join(gender_folder, f) for f in listdir(gender_folder) if isfile(join(gender_folder, f)) and ver in f]

In [ ]:
if len(gender_file) == 1:
    gender_file = gender_file[0]
else:
    raise IndexError('the version has duplicate or it does not exist')

In [ ]:
df_gender = pd.read_json(gender_file, orient='split')
seeds = df_gender[df_gender.gender=='female'].producer_id.tolist()

In [ ]:
len(seeds)

In [ ]:
from os.path import dirname, realpath
two_up = dirname(dirname(__file__))

In [ ]:
os.path.abspath(os.path.join(data_dir, os.pardir, 'gender'))

In [ ]:
data_dir